<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多平台介绍</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/index.css">
    <link rel="stylesheet" href="__STATIC__/index/thirdpart/css/swiper-4.3.5.min.css">
    <link rel="stylesheet" href="__STATIC__/platform/css/platform_introduction.css">

</head>

<body>
    <div class="wrapper">
        <!-- header 作为公共模板分离出去 common.css -->
        <div class="header">
            <!-- 登录条 start -->
            <div class="login_bar">
                <div class="login_bar_box">
                    <div class="change_language">
                        <a href="javascript:;">繁体&nbsp;&nbsp;</a>|&nbsp;
                        <a href="javascript:;">English</a>
                    </div>
                    <div class="login_box">
                        <!-- 登录前 -->
                        <p class="login_before" style="display:block;">
                            <a href="javascript:;" class="sign_up">注册&nbsp;&nbsp;</a>|&nbsp;
                            <a href="javascript:;" class="sign_in">登录</a>
                        </p>
                        <!-- 登陆后 -->
                        <div class="login_after" style="display: none">
                            <div class="my_order mgr15">
                                <a href="javascript:;">
                                    <i class="icon_cart"></i>&nbsp;
                                    我的订单
                                </a>
                            </div>
                            <div class="my_msg mgr15">
                                <i class="icon_msg">
                                    <span class="msg_num">3</span>
                                </i>
                            </div>
                            <div class="personal_center mgr15">
                                <a href="javascript:;">
                                    <i class="icon_my"></i>
                                    136****3045
                                </a>
                            </div>
                            <a href="javascript:;" class="sign_out">退出</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 登录条 end -->

            <!-- 导航条 start -->
            <div class="nav_bar">
                <div class="nav_inner_box">
                    <div class="logo_box">
                        <img src="__STATIC__/index/img/logo.png" width="101" height="42" alt="公司logo">
                    </div>
                    <div class="nav_box">
                        <ul class="first_class_ul">
                            <li class="first_class_li"><a href="{:url('/')}">首页</a></li>|
                            <li class="first_class_li"><a href="template_index">软件/定制<i class="fire"
                                        style="margin-left: 30px;"></i></a></li>|
                            <li class="first_class_li"><a href="javascript:;">小程序SaaS</a></li>|
                            <li class="first_class_li"><a href="javascript:;">AI推广引擎</a></li>|
                            <li class="first_class_li">
                                <a href="javascript:;" class="first_class_bot">
                                    <i class="iconfont-eb"></i>
                                    <span>API赋能</span>
                                    <p>API Enabling</p>
                                </a>
                                <ul class="sec-list">
                                    <li><a href="javascript:;">SaaS平台</a></li>
                                    <li><a href="javascript:;">支付平台</a></li>
                                    <li><a href="javascript:;">短信平台</a></li>
                                </ul>
                            </li>|
                            <li class="first_class_li"><a href="javascript:;">投融介</a></li>|
                            <li class="first_class_li"><a href="javascript:;">会员加盟</a></li>|
                            <li class="first_class_li">
                                <a href="platform_introduction" class="first_class_bot">
                                    <i class="iconfont-eb iconfont-we"></i>
                                    <span>Siring思锐</span>
                                    <p>About us</p>
                                </a>
                                <ul class="sec-list">
                                    <li><a href="platform_introduction">多平台介绍</a></li>
                                    <li><a href="about_us">关于我们</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="dzxq_box">
                        <a href="javascript:;">定制需求</a>
                    </div>
                </div>
            </div>
            <!-- 导航条 end -->
        </div>
        <!-- 隔离带 -->
        <div class="islation"></div>

        <!-- 主题内容 -->
        <div class="main">
            <div class="main_top">
                <h1>20年沉淀，一站式定制开发推广运营领航者</h1>
                <h2>多重平台，多重服务</h2>
                <div class="abc"></div>
            </div>
            <!-- 主体导航  -->
            <div class="main_nav">
                <div class="nav_use nav_one one_rbg">
                    <div><img class="nav_bimg" src="__STATIC__/platform/img/u6152.png" /></div>
                    <div class="nav_title">
                        <p>软件/定制开发平台</p>
                    </div>
                    <div class="f_r m_r"><img class="nav_simg" src="__STATIC__/platform/img/u6152.png" /></div>
                    <div class="nav_bot">
                        <div class="bot_text">
                            <p>• 以优惠的收费标准,根据您的要求为您订做适合自己管理需求的软件</p>
                            <p>• 模版化产品订购</p>
                        </div>
                        <div class="btn one_rbg" id="one_rbg">立即登录</div>
                    </div>
                </div>
                <div class="nav_use nav_two two_rbg">
                    <div><img class="nav_bimg" src="__STATIC__/platform/img/u6161.png" /></div>
                    <div class="nav_title">
                        <p>小程序SaaS平台</p>
                    </div>
                    <div class="f_r m_r"><img class="nav_simg" src="__STATIC__/platform/img/u6161.png" /></div>
                    <div class="nav_bot">
                        <div class="bot_text">
                            <p>• 无需懂代码,您也可自由拼装模块即可完成, 帮助千万商户轻松搭建电商、建站、零售等全行业</p>
                        </div>
                        <div class="btn two_rbg" id="two_rbg">立即登录</div>
                    </div>
                </div>
                <div class="nav_use nav_three three_rbg">
                    <div><img class="nav_bimg" src="__STATIC__/platform/img/u6164.png" /></div>
                    <div class="nav_title">
                        <p>AI推广运营平台</p>
                    </div>
                    <div class="f_r m_r"><img class="nav_simg" src="__STATIC__/platform/img/u6164.png" /></div>
                    <div class="nav_bot">
                        <div class="bot_text">
                            <p>• 以优惠的收费标准,根据您的要求为您订做适合自己管理需求的软件</p>
                            <p>• 模版化产品订购</p>
                        </div>
                        <div class="btn three_rbg" id="three_rbg">立即登录</div>
                    </div>
                </div>
            </div>

            <!-- 导航对应内容 -->
            <div class="content_target lef" id="lef"><img src="__STATIC__/platform/img/u6175.png"></div>
            <div class="content_target cen noshow" id="cen"> <img src="__STATIC__/platform/img/u6256.png"></div>
            <div class="content_target rig  noshow" id="rig"> <img src="__STATIC__/platform/img/u6405.png"></div>
            <div class="content">
                <div class="content_one" id="content_one">
                    <div class="cont_text">
                        <p style="margin-bottom:10px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;定制开发服务是思锐Siring针对不同层次企业对移动互联网应用不同需求的专业化定制开发建设服务。提供优质的移动互联网应用服务，互惠共赢，是我们长期追求的理想。
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;思锐Siring是中国最早从事互联网服务的企业之一，已为几十家上市公司、几百家国内外知名企业提供服务。思锐Siring的移动互联网经验，客户运用效果、经营业绩，在全国名列前茅。
                            凭借思锐Siring的技术和经验，我们将成为您移动互联网应用的坚实合作伙伴，和客户一起把移动互联网应用开发做得更好！</p>
                    </div>
                    <div class="cont_img">
                        <div>
                            <img src="__STATIC__/platform/img/u6178.png" alt="">
                        </div>
                        <div class="cont_title">
                            <div class="title_line">
                                <div class="back"></div>
                                <div class="line"></div>
                                <div class="back"></div>
                            </div>
                            <div class="title_p">
                                <p><span style="color: red;">BUILD&nbsp;PROCESS&nbsp;</span><span>定制开发流程</span></p>
                            </div>
                        </div>
                        <div>
                            <img src="__STATIC__/platform/img/u6187.png" alt="">
                        </div>
                    </div>
                </div>


                <div class="content_two noshow" id="content_two">
                    <div class="cont_text">
                        <p style="margin-bottom:10px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;小程序SaaS平台是全平台商业应用服务商,无门槛可视化拖拽制作,向商家提供海量应用及小程序注册及运营平台,灵活的编辑功能助力千万商户引流增长,无需懂代码一键生成发布...
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;思锐Siring是中国最早从事互联网服务的企业之一，已为几十家上市公司、几百家国内外知名企业提供服务。思锐Siring的移动互联网经验，客户运用效果、经营业绩，在全国名列前茅。
                            凭借思锐Siring的技术和经验，我们将成为您移动互联网应用的坚实合作伙伴，和客户一起把移动互联网应用开发做得更好！</p>
                    </div>
                    <div class="cont_main">
                        <div class="text_one">
                            <div class="text_img"><img src="__STATIC__/platform/img/u6277.png" alt=""></div>
                            <div class="text_title p_r">全行业全场景的解决方案</div>
                        </div>
                        <div>
                            <img src="__STATIC__/platform/img/u5169.png" alt="">
                        </div>
                        <div class="sec_main">
                            <div class="quan">
                                <img src="__STATIC__/platform/img/u6281.png" alt="">
                                <div class="text">
                                    <span class="num">80</span>个行业<br>
                                    <span class="zj">行业广泛</span><br>
                                    <span class="num">33</span>万种场景
                                </div>
                            </div>
                            <div class="ul_div">
                                <ul>
                                    <li>商业零售</li>
                                    <li>地产商贸</li>
                                    <li>教育咨询</li>
                                    <li>学校公益</li>
                                </ul>
                                <ul>
                                    <li>餐饮物流</li>
                                    <li>软件网络</li>
                                    <li>传媒信息</li>
                                    <li>化工汽车</li>
                                </ul>
                                <ul>
                                    <li>农林牧渔</li>
                                    <li>仪器仪表</li>
                                    <li>文化公益</li>
                                    <li>生物制药</li>
                                </ul>
                                <ul>
                                    <li>环保机械</li>
                                    <li>医疗仪器</li>
                                    <li>咨询服务</li>
                                    <li>纺织轻工</li>
                                </ul>
                            </div>

                        </div>
                        <div class="text_one">
                            <div class="text_title p_l">信息安全解决方案</div>
                            <div class="text_img"><img src="__STATIC__/platform/img/u6278.png" alt=""></div>
                        </div>
                        <div><img src="__STATIC__/platform/img/u5167.jpg" alt=""></div>


                        <div class="text_one">
                            <div class="text_img"><img src="__STATIC__/platform/img/u6279.png" alt=""></div>
                            <div class="text_title p_r">定制化与SaaS平台比较</div>
                        </div>

                        <div class="sheet">
                            <div class="text_left text-div">
                                <h1>定制化开发模式</h1>
                                <div>
                                    <p>需要单独购置独立服务器，搭建数据库，部署软件运行环境等</p>
                                </div>
                                <div>
                                    <p>需要多年的前后端开发工程师配合开发完成系统开发</p>
                                </div>
                                <div>
                                    <p>功能完全按照用户要求的独立开发，产品独一无二，用户体验新颖</p>
                                </div>
                                <div>
                                    <p>适用于中、大型企业。独立部署软件开发，并能组建推广团队，创新应用、引领市场，后续还要不断优化升级工作。</p>
                                </div>
                            </div>
                            <div class="text-center">
                                <div>
                                    <div><img src="__STATIC__/platform/img/u6270.png" class="text_img">
                                        <p>部署</p>
                                    </div>
                                </div>
                                <div>
                                    <div><img src="__STATIC__/platform/img/u6272.png" class="text_img">
                                        <p>开发</p>
                                    </div>
                                </div>
                                <div>
                                    <div><img src="__STATIC__/platform/img/u6274.png" class="text_img">
                                        <p>功能</p>
                                    </div>
                                </div>
                                <div>
                                    <div><img src="__STATIC__/platform/img/u6276.png" class="text_img">
                                        <p>费用</p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right text-div">
                                <h1>saas一键生成模式</h1>
                                <div>
                                    <p>一键建站方式，无需考虑服务器配置、数据库如何搭建、初始数据如何导入，所有应公用部署再阿里云服务器</p>
                                </div>
                                <div>
                                    <p>模版已开发好，只需任意拖拽编辑，任意排列组合功能，无需编程经验也能独立完成“开发”工作</p>
                                </div>
                                <div>
                                    <p>模版功能组合在规定的设计要求之下，非完全自由发挥想象能实现，用户体验创新性不足</p>
                                </div>
                                <div>
                                    <p>适用于初创型公司，资金有限。无需自建服务器，无需运维数据库......节约大量资金成本！</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="content_three noshow" id="content_three">
                    <div class="cont_text">
                        <p style="margin-bottom:10px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;近年来，随着国内程序化购买市场日趋升温，各大巨头企业纷纷抓住构建程序化广告平台。作为国内AI智能领域的技术专家，Siring自主人工智能研发团队孵化智能营销平台AI推广运营投放平台，以人工智能技术赋能广告投放，为国内市场带来新一轮的营销升级
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;AI推广运营投放平台
                            通过先进的人工智能机器学习算法与第三方DMP进行媒体受众覆盖率分析，受众及受众来源的媒介流量筛选，并且通过AI智能系统实时优化数据，可以根据DMP的判别达成“不同人群匹配不同创意”，来达到更加贴合消费者的沟通效果，增加对品牌的认知度的同时提升ROI
                        </p>
                    </div>
                    <div class="cont_main">
                        <div><img src="__STATIC__/platform/img/u5168.jpg" alt=""></div>

                        <div class="precise_one prc_flex">
                            <div><img src="__STATIC__/platform/img/u6436.png" class="precise_img"></div>
                            <div>
                                <p class="p_one">AI推广运营投放平台整合网络营销服务理念</p>
                                <p>只需要企业提出目标需求，Siring即派出专业顾问与企业客户进行接洽，从开始的了解企业产品（服务）到后期的方案执行，Siring都拥有一整套成熟体系，针对不同客户量身定制营销方案，详细了解Siring整合网络营销工作内容，您可以把全部精力用来经营，让Siring帮企业节省人力和资金投入，同时提升网络营销效果。
                                </p>
                                <p style="margin-top: 30px;">我们要做的：帮助企业开展网络营销帮助企业量身定制完善的网络营销执行方案帮助企业做好网络营销。</p>
                            </div>
                        </div>

                        <div style="text-align: center;"><img src="__STATIC__/platform/img/u6439.png" alt=""></div>

                        <div class="prc_flex ">
                            <div><img src="__STATIC__/platform/img/u6437.png" class="precise_img"></div>
                            <div class="prc_text">
                                <p class="p_one" style="margin-bottom:10px;">AI推广运营投放平台整合网络营销流程</p>
                                <p>1、深入分析企业现状、产品（服务）特点以及行业特征；</p>
                                <p>2、定位产品（服务）目标用户人群，多种网络营销方式，筛选网络营销推广平台；</p>
                                <p>3、确定网站版式风格（已有网站可对网站内容、用户体验等进行优化）、用户口碑形象等；</p>
                                <p>4、制定一站式网络营销执行草案，提交企业客户进行初步审核；</p>
                                <p>5、签订网络营销合作协议，对草案进行修改，确定企业网络营销执行方案并执行；</p>
                                <p>6、后期效果监测与效果评估</p>
                            </div>
                        </div>
                        <div style="text-align: center;"><img src="__STATIC__/platform/img/u6438.png" alt=""></div>

                        <div class="prc_flex ">
                            <div><img src="__STATIC__/platform/img/u6443.png" class="precise_img"></div>
                            <div class="prc_text">
                                <p class="p_one" style="margin:30px 0;">AI推广运营投放平台网络营销优势</p>
                                <p>20年以上专业的网络营销团队，结合成熟的项目管理和执行经验，服务企业可完全套用既有工作模式和效果评估体系，从而节省人力和资金成本。配合系统全面的前期网络营销执行方案调研，能够有效缩短企业开展网络营销的自我摸索期……
                                </p>
                            </div>
                        </div>

                        <div style="text-align: center;"><img src="__STATIC__/platform/img/u6442.png" alt=""></div>

                        <div class="prc_flex ">
                            <div><img src="__STATIC__/platform/img/u6444.png" class="precise_img"></div>
                            <div class="prc_text">
                                <p class="p_one" style="margin-bottom:10px;">AI推广运营投放平台网络营销优势</p>
                                <p>1、专业水平和用户体验明显提升；</p>
                                <p>2、在投入网络推广的费用相同的情况下，网络营销效果显著提高；</p>
                                <p>3、通过搜索推广运营自然检索获得的用户量大大增加；</p>
                                <p>4、规范的管理运行体系；使运营管理流程更合理、更规范；</p>
                                <p>5、协助企业网络营销团队专业水平提高，保持企业网络营销工作的长期发展。</p>
                                <p style="margin-top: 20px;">
                                    网络成了口碑传播和产品营销的重要阵地。Siring意识到网络推广的重要性，抢占营销推广的致高点，重拳出击网络整合营销传播，帮助企业成功开辟网络营销的蓝海。</p>
                            </div>
                            <div><img src="__STATIC__/platform/img/u6447.png"></div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- 底部 -->
        <div class="footer">
            <div class="bottom">
                <p class="copyright">版权所有 © 1996-2018 深圳市思锐信息技术有限公司 All Rights Reserved. 粤ICP备17014906号</p>
                <div class="bottom-right">
                    <div>
                        <span class="bottom-gt">&gt;</span>
                        <span class="bottom-year">20</span>
                    </div>
                    <div>
                        <p class="bottom-showy">IOE应用开发与服务领航者</p>
                        <span>年经验 > 100人团队 > 服务数万客户</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 引入脚本 -->
    <script src="__STATIC__/index/thirdpart/js/jquery.js"></script>

    <script>
        //软件/定制开发平台
        $('#one_rbg').on('click', function () {
            $('#lef').removeClass('noshow');
            $('#content_one').removeClass('noshow');
            $('#cen').addClass('noshow');
            $('#rig').addClass('noshow');
            $('#content_two').addClass('noshow');
            $('#content_three').addClass('noshow');
        })
        //小程序SaaS平台
        $('#two_rbg').on('click', function () {
            $('#cen').removeClass('noshow');
            $('#content_two').removeClass('noshow');
            $('#lef').addClass('noshow');
            $('#rig').addClass('noshow');
            $('#content_one').addClass('noshow');
            $('#content_three').addClass('noshow');
        })
        //AI推广运营平台
        $('#three_rbg').on('click', function () {
            $('#rig').removeClass('noshow');
            $('#content_three').removeClass('noshow');
            $('#cen').addClass('noshow');
            $('#lef').addClass('noshow');
            $('#content_two').addClass('noshow');
            $('#content_one').addClass('noshow');
        })

    </script>
</body>

</html>