<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多平台介绍</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/index.css">
    <link rel="stylesheet" href="__STATIC__/index/thirdpart/css/swiper-4.3.5.min.css">
    <link rel="stylesheet" href="__STATIC__/platform/css/platform_introduction.css">

</head>

<body>
    <div class="wrapper">
        <!-- header 作为公共模板分离出去 common.css -->
        <div class="header">
            <!-- 登录条 start -->
            <div class="login_bar">
                <div class="login_bar_box">
                    <div class="change_language">
                        <a href="javascript:;">繁体&nbsp;&nbsp;</a>|&nbsp;
                        <a href="javascript:;">English</a>
                    </div>
                    <div class="login_box">
                        <!-- 登录前 -->
                        <p class="login_before" style="display:block;">
                            <a href="javascript:;" class="sign_up">注册&nbsp;&nbsp;</a>|&nbsp;
                            <a href="javascript:;" class="sign_in">登录</a>
                        </p>
                        <!-- 登陆后 -->
                        <div class="login_after" style="display: none">
                            <div class="my_order mgr15">
                                <a href="javascript:;">
                                    <i class="icon_cart"></i>&nbsp;
                                    我的订单
                                </a>
                            </div>
                            <div class="my_msg mgr15">
                                <i class="icon_msg">
                                    <span class="msg_num">3</span>
                                </i>
                            </div>
                            <div class="personal_center mgr15">
                                <a href="javascript:;">
                                    <i class="icon_my"></i>
                                    136****3045
                                </a>
                            </div>
                            <a href="javascript:;" class="sign_out">退出</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 登录条 end -->

            <!-- 导航条 start -->
            <div class="nav_bar">
                <div class="nav_inner_box">
                    <div class="logo_box">
                        <img src="__STATIC__/index/img/logo.png" width="101" height="42" alt="公司logo">
                    </div>
                    <div class="nav_box">
                        <ul class="first_class_ul">
                            <li class="first_class_li"><a href="{:url('/')}">首页</a></li>|
                            <li class="first_class_li"><a href="template_index">软件/定制<i class="fire"
                                        style="margin-left: 30px;"></i></a></li>|
                            <li class="first_class_li"><a href="javascript:;">小程序SaaS</a></li>|
                            <li class="first_class_li"><a href="javascript:;">AI推广引擎</a></li>|
                            <li class="first_class_li">
                                <a href="javascript:;" class="first_class_bot">
                                    <i class="iconfont-eb"></i>
                                    <span>API赋能</span>
                                    <p>API Enabling</p>
                                </a>
                                <ul class="sec-list">
                                    <li><a href="javascript:;">SaaS平台</a></li>
                                    <li><a href="javascript:;">支付平台</a></li>
                                    <li><a href="javascript:;">短信平台</a></li>
                                </ul>
                            </li>|
                            <li class="first_class_li"><a href="javascript:;">投融介</a></li>|
                            <li class="first_class_li"><a href="javascript:;">会员加盟</a></li>|
                            <li class="first_class_li">
                                <a href="platform_introduction" class="first_class_bot">
                                    <i class="iconfont-eb iconfont-we"></i>
                                    <span>Siirng思锐</span>
                                    <p>About us</p>
                                </a>
                                <ul class="sec-list">
                                    <li><a href="javascript:;">多平台介绍</a></li>
                                    <li><a href="javascript:;">关于我们</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="dzxq_box">
                        <a href="javascript:;">定制需求</a>
                    </div>
                </div>
            </div>
            <!-- 导航条 end -->
        </div>
        <!-- 隔离带 -->
        <div class="islation"></div>

        <!-- 主题内容 -->
        <div class="main">
            <div class="main_top">
                <h1>20年沉淀，一站式定制开发推广运营领航者</h1>
                <h2>多重平台，多重服务</h2>
                <div class="abc"></div>
            </div>
            <!-- 主体导航  -->
            <div class="main_nav">
                <div class="nav_use nav_one one_rbg">
                    <div><img class="nav_bimg" src="__STATIC__/platform/img/u6152.png" /></div>
                    <div class="nav_title">
                        <p>软件/定制开发平台</p>
                    </div>
                    <div class="f_r m_r"><img class="nav_simg" src="__STATIC__/platform/img/u6152.png" /></div>
                    <div class="nav_bot">
                        <div class="bot_text">
                            <p>• 以优惠的收费标准,根据您的要求为您订做适合自己管理需求的软件</p>
                            <p>• 模版化产品订购</p>
                        </div>
                        <div class="btn one_rbg">立即登录</div>
                    </div>
                </div>
                <div class="nav_use nav_two two_rbg">
                    <div><img class="nav_bimg" src="__STATIC__/platform/img/u6161.png" /></div>
                    <div class="nav_title">
                        <p>小程序SaaS平台</p>
                    </div>
                    <div class="f_r m_r"><img class="nav_simg" src="__STATIC__/platform/img/u6161.png" /></div>
                    <div class="nav_bot">
                        <div class="bot_text">
                            <p>• 无需懂代码,您也可自由拼装模块即可完成, 帮助千万商户轻松搭建电商、建站、零售等全行业</p>
                        </div>
                        <div class="btn two_rbg">立即登录</div>
                    </div>
                </div>
                <div class="nav_use nav_three three_rbg">
                    <div><img class="nav_bimg" src="__STATIC__/platform/img/u6164.png" /></div>
                    <div class="nav_title">
                        <p>AI推广运营平台</p>
                    </div>
                    <div class="f_r m_r"><img class="nav_simg" src="__STATIC__/platform/img/u6164.png" /></div>
                    <div class="nav_bot">
                        <div class="bot_text">
                            <p>• 以优惠的收费标准,根据您的要求为您订做适合自己管理需求的软件</p>
                            <p>• 模版化产品订购</p>
                        </div>
                        <div class="btn three_rbg">立即登录</div>
                    </div>
                </div>
            </div>

            <!-- 导航对应内容 -->
            <div class="content_target lef noshow"><img src="__STATIC__/platform/img/u6175.png"></div>
            <div class="content_target cen "> <img src="__STATIC__/platform/img/u6256.png"></div>
            <div class="content_target rig noshow"><img src="__STATIC__/platform/img/u6405.png"></div>
            <div class="content">
                <div class="content_one noshow">
                    <div class="cont_text">
                        <p style="margin-bottom:10px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;定制开发服务是思锐Siring针对不同层次企业对移动互联网应用不同需求的专业化定制开发建设服务。提供优质的移动互联网应用服务，互惠共赢，是我们长期追求的理想。
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;思锐Siring是中国最早从事互联网服务的企业之一，已为几十家上市公司、几百家国内外知名企业提供服务。思锐Siring的移动互联网经验，客户运用效果、经营业绩，在全国名列前茅。
                            凭借思锐Siring的技术和经验，我们将成为您移动互联网应用的坚实合作伙伴，和客户一起把移动互联网应用开发做得更好！</p>
                    </div>
                    <div class="cont_img">
                        <div>
                            <img src="__STATIC__/platform/img/u6178.png" alt="">
                        </div>
                        <div class="cont_title">
                            <div class="title_line">
                                <div class="back"></div>
                                <div class="line"></div>
                                <div class="back"></div>
                            </div>
                            <div class="title_p">
                                <p><span style="color: red;">BUILD&nbsp;PROCESS&nbsp;</span><span>定制开发流程</span></p>
                            </div>
                        </div>
                        <div>
                            <img src="__STATIC__/platform/img/u6187.png" alt="">
                        </div>
                    </div>
                </div>


                <div class="content_two">
                    <div class="cont_text">
                        <p style="margin-bottom:10px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;定制开发服务是思锐Siring针对不同层次企业对移动互联网应用不同需求的专业化定制开发建设服务。提供优质的移动互联网应用服务，互惠共赢，是我们长期追求的理想。
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;思锐Siring是中国最早从事互联网服务的企业之一，已为几十家上市公司、几百家国内外知名企业提供服务。思锐Siring的移动互联网经验，客户运用效果、经营业绩，在全国名列前茅。
                            凭借思锐Siring的技术和经验，我们将成为您移动互联网应用的坚实合作伙伴，和客户一起把移动互联网应用开发做得更好！</p>
                    </div>
                    <div class="cont_main">
                        <div class="text_one">
                            <div class="text_img"><img src="__STATIC__/platform/img/u6277.png" alt=""></div>
                            <div class="text_title">全行业全场景的解决方案</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


        <!-- 底部 -->
        <div class="footer">
            <div class="bottom">
                <p>版权所有 © 1996-2018 深圳市思锐信息技术有限公司 All Rights Reserved. 粤ICP备17014906号</p>
            </div>
        </div>
    </div>
    <!-- 引入脚本 -->
    <script src="__STATIC__/index/thirdpart/js/jquery.js"></script>

    <script>


    </script>
</body>

</html>