<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板商城</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/thirdpart/css/swiper-4.3.5.min.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="__STATIC__/index/css/template_goods_show.css">
    <!-- author: sam | 创建：2018-09-26-->
</head>

<body>
    <div class="wrapper" id="app" v-cloak>
        <!-- header 作为公共模板分离出去 common.css -->
        <div class="header">
            <!-- 登录条 start -->
            <div class="login_bar">
                <div class="login_bar_box">
                    <div class="change_language">
                        <a href="javascript:;">繁体&nbsp;&nbsp;</a>|&nbsp;
                        <a href="javascript:;">English</a>
                    </div>
                    <div class="login_box">
                        <!-- 登录前 -->
                        <p class="login_before" style="display:block;">
                            <a href="javascript:;" class="sign_up">注册&nbsp;&nbsp;</a>|&nbsp;
                            <a href="javascript:;" class="sign_in">登录</a>
                        </p>
                        <!-- 登陆后 -->
                        <div class="login_after" style="display:none;">
                            <div class="my_order mgr15">
                                <a href="javascript:;">
                                    <i class="icon_cart"></i>&nbsp;
                                    我的订单
                                </a>
                            </div>
                            <div class="my_msg mgr15">
                                <i class="icon_msg">
                                    <span class="msg_num">3</span>
                                </i>
                            </div>
                            <div class="personal_center mgr15">
                                <a href="javascript:;">
                                    <i class="icon_my"></i>
                                    136****3045
                                </a>
                            </div>
                            <a href="javascript:;" class="sign_out">退出</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 登录条 end -->

            <!-- 导航条 start -->
            <div class="nav_bar">
                <div class="nav_inner_box">
                    <div class="logo_box">
                        <img src="__STATIC__/index/img/logo.png" width="101" height="42" alt="公司logo">
                    </div>
                    <div class="nav_box">
                        <ul class="first_class_ul">
                            <li class="first_class_li"><a href="{:url('/')}">首页</a></li>|
                            <li class="first_class_li"><a href="template_index">软件/定制<i class="fire"
                                        style="margin-left: 25px;"></i></a></li>|
                            <li class="first_class_li"><a href="javascript:;">小程序SaaS</a></li>|
                            <li class="first_class_li"><a href="javascript:;">AI推广引擎</a></li>|
                            <li class="first_class_li">
                                <a href="javascript:;" class="first_class_bot">
                                    <i class="iconfont-eb"></i>
                                    <span>API赋能</span>
                                    <p>API Enabling</p>
                                </a>
                                <ul class="sec-list">
                                    <li><a href="javascript:;">SaaS平台</a></li>
                                    <li><a href="javascript:;">支付平台</a></li>
                                    <li><a href="javascript:;">短信平台</a></li>
                                </ul>
                            </li>|
                            <li class="first_class_li"><a href="javascript:;">投融介</a></li>|
                            <li class="first_class_li"><a href="javascript:;">会员加盟</a></li>|
                            <li class="first_class_li">
                                <a href="platform_introduction" class="first_class_bot">
                                    <i class="iconfont-eb iconfont-we"></i>
                                    <span>Siring思锐</span>
                                    <p>About us</p>
                                </a>
                                <ul class="sec-list">
                                    <li><a href="platform_introduction">多平台介绍</a></li>
                                    <li><a href="javascript:;">关于我们</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="dzxq_box">
                        <a href="javascript:;">定制需求</a>
                    </div>
                </div>
            </div>
            <!-- 导航条 end -->

            <!-- 轮播图 start -->
            <div class="swiper_box">
                <div class="swiper-container swiper-no-swiping">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__STATIC__/index/img/img1.png" alt="轮播图"></div>
                        <div class="swiper-slide"><img src="__STATIC__/index/img/img2.png" alt="轮播图"></div>
                        <div class="swiper-slide"><img src="__STATIC__/index/img/img3.png" alt="轮播图"></div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                    <!-- 如果需要滚动条 -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <!-- 轮播图 end -->
        </div>

        <!-- 商品详情 -->
        <div class="content">
            <div class="title_box">
                <p>模板商城</p>
            </div>
            <div class="goods_detail_box clearfix">
                <div class="goods_detail_left">
                    <div class="goods_info_box clearfix">
                        <div class="goods_img_box">
                            <img src="__STATIC__/index/img/u80.png">
                        </div>
                        <div class="goods_detail_info">
                            <div class="name_and_number clearfix mgt20">
                                <h2 class="name fl">B2C购物商城</h2>
                                <span class="number fr">编号:MB001</span>
                            </div>
                            <div class="price_and_collect clearfix mgt20">
                                <p class="price fl">
                                    <span class="login_before" style="display:none;">登陆后可查看</span>
                                    <span class="login_after">
                                        <i class="del_price">原价:￥25000.00</i>
                                        <i class="present_price">现价:￥15000.00</i>
                                    </span>
                                </p>
                                <p class="collect fr">
                                    <i class="icon_star"></i>&nbsp;收藏
                                </p>
                            </div>
                            <div class="goods_type_and_time clearfix mgt20">
                                <p class="type fl">商品类型：<span>电商</span></p>
                                <p class="time fr">
                                    <i class="icon_time"></i>
                                    <span class="day">10</span>天
                                </p>
                            </div>
                            <div class="version mgt20">
                                <p>终端版本：<span>APP|小程序|微信公众号</span></p>
                            </div>
                            <div class="buy_btn_box">
                                <a href="javascript:;" class="demo_a">演示</a>
                                <a href="template_goods_buy" class="buy_a">购买</a>
                            </div>
                        </div>
                    </div>
                    <div class="goods_desc_comment">
                        <el-tabs type="border-card">
                            <el-tab-pane label="商品描述">
                                <ul>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志、图片空间、商城消息、风格设置、计划任务</li>
                                    <li>(二) 基础设置：商城配置、导航管理、广告管理、广告位置、银行管理、支付管理、地区管理、友情链接、快递管理、消息模板</li>
                                    <li>(三) 会员管理：会员等级、会员管理、账号管理</li>
                                    <li>(四) 文章管理：文章管理、文章分类</li>
                                    <li>(五) 运营管理：推荐管理、商品推荐、店铺推荐、品牌推荐、财务管理、资金管理、提现申请、结算管理、商家结算、订单原路退款</li>
                                    <li>(六) 订单管理：订单管理、订单管理、投诉管理、退款管理</li>
                                    <li>(七) 店铺管理：店铺认证、开店申请、店铺管理、停用店铺</li>
                                    <li>(八) 商品管理：商品管理、已上架商品、待审核商品、违规商品、商品分类、商品属性、品牌管理、商品规格、评价管理</li>
                                    <li>(九) 虚拟物品自动发货：虚拟商品上架、卡密管理、自动发货</li>
                                    <li>(十) 扩展管理：插件管理、钩子管理</li>
                                    <li>(十一) 分销管理：分销管理菜单、分销商家列表、分销商品列表、佣金分成列表、推广用户列表</li>
                                    <li>(十二) 数据分析：商品销售排行、店铺销售统计、销售额统计、销售订单统计、新增会员统计、会员登录统计</li>
                                    <li>(十三) 营销管理：三级分销，商品团购，限时拍卖、微砍价、优惠券、满减、满送、满包邮、签到送积分、积分商城、拼团</li>
                                    <li>(十四) 微信管理：公众号设置、自定义菜单、用户管理、主动回复文本信息、主动回复图文信息、微信消息模板</li>
                                    <li>(十五) 支付管理：支付宝支付，微信支付、银联支付、货到付款、积分支付、余额支付</li>
                                    <li>(十六) 短信接口：中国网建、阿里大于、阿里云云通信、短信宝</li>
                                    <li>(十七) 登录接口：QQ登录、微信登录、微博登录</li>
                                    <li>(十八) 物流接口：快递100接口</li>
                                    <li>(十九) 其他接口：LBS、UCenter通信接口（可与社区论坛等同步登录退出）</li>
                                </ul>
                            </el-tab-pane>
                            <el-tab-pane label="会员评价">
                                <ul>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(二) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(三) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(四) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                    <li>(一) 系统管理：菜单权限、前台菜单、角色管理、职员管理、登录日志、操作日志</li>
                                </ul>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </div>
                <div class="recommend_right">
                    <p class="li_title">
                        <i class="icon_fire"></i>&nbsp;&nbsp;推荐产品
                    </p>
                    <ul>
                        <li class="clearfix" v-for="item in 6">
                            <a href="javascript:;">
                                <div class="recommend_img fl">
                                    <img src="__STATIC__/index/img/u80.png">
                                </div>
                                <div class="recommend_info fl">
                                    <p class="recommend_name">区块链商城</p>
                                    <p class="recommend_time">
                                        <i></i><span>10</span>天
                                    </p>
                                    <p class="recommend_version">APP|小程序|微信公众号</p>
                                </div>
                            </a>
                        </li>
                        <a href="javascript:;" class="more_recommend">更多&gt;</a>
                    </ul>
                </div>
            </div>
        </div>

        <!-- footer引用公共样式common.css -->
        <div class="footer">
            <!-- 升级会员 -->
            <div class="upgrade-member">
                <div class="title_box">
                    <p>升级会员</p>
                </div>
                <div class="upgrade-cont">
                    <div class="upgrade-inner-cont">
                        <img src="__STATIC__/index/img/u327.png" width="1200">
                        <div class="upgrade-apply">
                            <div class="upgrade-inner-box">
                                <div>
                                    <img src="__STATIC__/index/img/u188.png" width="48px" height="44px">
                                    <span>提供专业的1对1技术咨询，结合强大的系统保障能力，帮助会员在垂直市场获得领先优势</span>
                                </div>
                                <div>
                                    <img src="__STATIC__/index/img/u189.png" width="48px" height="44px">
                                    <span>强大的平台系统，所有项目进度均实现可视化流程，保障代理及用户切身利益。</span>
                                </div>
                            </div>
                            <a href="javascript:void(0);">&gt;&gt;立即申请</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 经典用户 -->
            <div class="classic_user">
                <div class="title_box">
                    <p>经典用户</p>
                </div>
                <div class="classic_user_inner">
                    <div class="swiper-container2 swiper-no-swiping">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user1.png" alt="轮播图"></div>
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user2.png" alt="轮播图"></div>
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user3.png" alt="轮播图"></div>
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user4.png" alt="轮播图"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer_info">
                <div style="background-color: #515151;">
                    <div class="footer_ul footer_info_inner">
                        <ul>
                            <li>
                                <h2>定制开发
                                    <i class="slide"></i>
                                </h2>
                                <p><a href="javascript:;">IOSAPP开发</a></p>
                                <p><a href="javascript:;">安卓APP开发</a></p>
                                <p><a href="javascript:;">HTML5开发</a></p>
                                <p><a href="javascript:;">小程序开发</a></p>
                                <p><a href="javascript:;">区块链开发</a></p>
                            </li>
                            <li>
                                <h2>云平台
                                    <i class="slide"></i>
                                </h2>
                                <p><a href="javascript:;">小程序SaaS平台</a></p>
                                <p><a href="javascript:;">支付平台</a></p>
                                <p><a href="javascript:;">短信平台</a></p>
                            </li>
                            <li>
                                <h2>模板商城
                                    <i class="slide"></i>
                                </h2>
                                <p><a href="javascript:;">智能硬件</a></p>
                                <p><a href="javascript:;">电子商务</a></p>
                                <p><a href="javascript:;">生活娱乐</a></p>
                                <p><a href="javascript:;">金融</a></p>
                                <p><a href="javascript:;">媒体</a></p>
                                <p><a href="javascript:;">企业服务</a></p>
                                <p><a href="javascript:;">政府公益</a></p>
                            </li>
                            <li>
                                <h2>投融介
                                    <i class="slide"></i>
                                </h2>
                                <p><a href="javascript:;">项目融资申请</a></p>
                                <p><a href="javascript:;">融资评审会</a></p>
                            </li>
                            <li>
                                <h2>代理加盟
                                    <i class="slide"></i>
                                </h2>
                                <p><a href="javascript:;">申请代理</a></p>
                            </li>
                            <li>
                                <h2>联系我们
                                    <i class="slide"></i>
                                </h2>
                                <p>座机:<br />0755-36609873</p>
                                <p>专家顾问直线:<br />19925374651</p>
                                <p>邮箱:<br />zhq@siring.com.cn</p>
                                <p>地址:<br />深圳市福田区新闻路1号<br />中电信息大厦东座1518</p>
                            </li>
                            <li>
                                <h2>快速登录</h2>
                                <div class="handle_box">
                                    <div class="handle_logo">
                                        <a href="javascript:;" class="curr"><i class="iconfont weixin">&#xe650;</i></a>
                                        <a href="javascript:;"><i class="iconfont sina">&#xe716;</i></a>
                                    </div>
                                </div>
                                <div class="code_box">
                                    <div class="wx_code">
                                        <span class="wx_span"><img src="__STATIC__/index/img/weixin.png" alt="微信二维码"></span>
                                        <p>微信公众号</p>
                                    </div>
                                    <div class="wb_code" style="display:none">
                                        <span class="wb_span"><img src="__STATIC__/index/img/weixin.png" alt="微信二维码"></span>
                                        <p>新浪微博</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="yqlj footer_info_inner">
                    <h2>友情链接:</h2>
                    <ul>
                        <li><a href="https://mp.weixin.qq.com">微信公众平台</a></li>
                        <li><a href="https://open.weixin.qq.com">微信开放平台</a></li>
                        <li><a href="https://pay.weixin.qq.com">微信支付平台</a></li>
                        <li><a href="https://weixin.qq.com">微信</a></li>
                        <li><a href="http://www.kuaidi100.com">快递100</a></li>
                        <li><a href="https://www.aliyun.com">阿里云</a></li>
                        <li><a href="https://cloud.tencent.com">腾讯云</a></li>
                        <li><a href="https://weibo.com">新浪微博</a></li>
                        <li><a href="https://www.west.cn">西部数据</a></li>
                        <li><a href="https://www.rongcloud.cn">极光推送</a></li>
                        <li><a href="https://www.alipay.com/">企业支付宝</a></li>
                    </ul>
                </div>
                <div class="bottom">
                    <p class="copyright">版权所有 © 1996-2018 深圳市思锐信息技术有限公司 All Rights Reserved. 粤ICP备17014906号</p>
                    <div class="bottom-right">
                        <div>
                            <span class="bottom-gt">&gt;</span>
                            <span class="bottom-year">20</span>
                        </div>
                        <div>
                            <p class="bottom-showy">IOE应用开发与服务领航者</p>
                            <span>年经验 > 100人团队 > 服务数万客户</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- aside -->
    <div class="aside-container">
        <ul>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u261 (1).png" width="32" height="32">
                <span class="aside-text">热线</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon8.png" width="32" height="32">热线电话：
                    </div>
                    <p class="contact-number">0755-36609873</p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u390.png" width="32" height="32">
                <span class="aside-text">顾问</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon10.png" width="32" height="32">专家顾问：
                        <p class="aside-text">扫一扫</p>
                    </div>
                    <p class="contact-number interactive-bg">
                        19925374651
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/u388.png" width="150" height="150">
                        </span>
                    </p>
                    <p class="contact-number interactive-bg">
                        13922830809
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/u388.png" width="150" height="150">
                        </span>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u394.png" width="32" height="32">
                <span class="aside-text">客服</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon9.png" width="32" height="32">QQ客服：
                    </div>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank"
                            href="http://wpa.qq.com/msgrd?v=3&amp;uin=50087335&amp;site=qq&amp;menu=yes">50087335</a>
                    </p>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank"
                            href="http://wpa.qq.com/msgrd?v=3&amp;uin=415364124&amp;site=qq&amp;menu=yes">415364124</a>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u263 (1).png" width="32" height="32">
                <span class="aside-text">留言</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/u378.png" width="32" height="32">留言反馈：
                    </div>
                    <textarea placeholder="您还可以留下您的联系方式，让我们联系您！"></textarea>
                    <button class="send-lm">发送</button>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u370.png" width="32" height="32">
            </li>
        </ul>
    </div>

    <script src="__STATIC__/index/thirdpart/js/jquery.js"></script>
    <script src="__STATIC__/admin/common/layui/layui.js"></script>
    <script src="__STATIC__/index/thirdpart/js/swiper-4.3.5.min.js"></script>
    <script src="__STATIC__/index/thirdpart/js/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 页面头部尾部公共脚本 -->
    <script src="__STATIC__/index/js/common.js"></script>

    <!-- 商品描述 会员评价 切换 -->
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                
            }
        })
    </script>
</body>

</html>