<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板商城</title>
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <link rel="stylesheet" href="__STATIC__/index/thirdpart/css/swiper-4.3.5.min.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="__STATIC__/index/css/template.css">
    <!-- author:sam -->
</head>

<body>
    <div class="wrapper" id="app">
        <!-- header 作为公共模板分离出去 common.css -->
        <div class="header">
            <!-- 登录条 start -->
            <div class="login_bar">
                <div class="login_bar_box">
                    <div class="change_language">
                        <a href="javascript:;">繁体&nbsp;&nbsp;</a>|&nbsp;
                        <a href="javascript:;">English</a>
                    </div>
                    <div class="login_box">
                        <!-- 登录前 -->
                        <p class="login_before" style="display:block;">
                            <a href="javascript:;" class="sign_up">注册&nbsp;&nbsp;</a>|&nbsp;
                            <a href="javascript:;" class="sign_in">登录</a>
                        </p>
                        <!-- 登陆后 -->
                        <div class="login_after" style="display:none;">
                            <div class="my_order mgr15">
                                <a href="javascript:;">
                                    <i class="icon_cart"></i>&nbsp;
                                    我的订单
                                </a>
                            </div>
                            <div class="my_msg mgr15">
                                <i class="icon_msg">
                                    <span class="msg_num">3</span>
                                </i>
                            </div>
                            <div class="personal_center mgr15">
                                <a href="javascript:;">
                                    <i class="icon_my"></i>
                                    136****3045
                                </a>
                            </div>
                            <a href="javascript:;" class="sign_out">退出</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 登录条 end -->

            <!-- 导航条 start -->
            <div class="nav_bar">
                <div class="nav_inner_box">
                    <div class="logo_box">
                        <img src="__STATIC__/index/img/logo.png" width="101" height="42" alt="公司logo">
                    </div>
                    <div class="nav_box">
                        <ul class="first_class_ul">
                            <li class="first_class_li"><a href="{:url('/')}">首页</a></li>|
                            <li class="first_class_li"><a href="template_index">软件/定制<i class="fire"
                                        style="margin-left: 25px;"></i></a></li>|
                            <li class="first_class_li"><a href="javascript:;">小程序SaaS</a></li>|
                            <li class="first_class_li"><a href="javascript:;">AI推广引擎</a></li>|
                            <li class="first_class_li">
                                <a href="javascript:;" class="first_class_bot">
                                    <i class="iconfont-eb"></i>
                                    <span>API赋能</span>
                                    <p>API Enabling</p>
                                </a>
                                <ul class="sec-list">
                                    <li><a href="javascript:;">SaaS平台</a></li>
                                    <li><a href="javascript:;">支付平台</a></li>
                                    <li><a href="javascript:;">短信平台</a></li>
                                </ul>
                            </li>|
                            <li class="first_class_li"><a href="javascript:;">投融介</a></li>|
                            <li class="first_class_li"><a href="javascript:;">会员加盟</a></li>|
                            <li class="first_class_li">
                                <a href="platform_introduction" class="first_class_bot">
                                    <i class="iconfont-eb iconfont-we"></i>
                                    <span>Siring思锐</span>
                                    <p>About us</p>
                                </a>
                                <ul class="sec-list">
                                    <li><a href="platform_introduction">多平台介绍</a></li>
                                    <li><a href="about_us">关于我们</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="dzxq_box">
                        <a href="javascript:;">定制需求</a>
                    </div>
                </div>
            </div>
            <!-- 导航条 end -->
        </div>

        <!-- 模板商城 -->
        <div class="model_mall">
            <div class="model_mall_inner">
                <div class="search-section">
                    <div class="search-section-inner">
                        <div class="search-type">
                            <div class="search-title fl">软件/定制类型：</div>
                            <div class="search-cont fl">
                                <div class="search-items fl"
                                    :class="{'autoHeight': !showMoreSearchTag}">
                                    <a 
                                        href="javascript:void(0);" 
                                        v-for="(item, index) in searchNameArr" 
                                        :key="index"
                                        :class="{curr: searchCurr==index}" 
                                        @click="filterSearchType(index)"
                                    >
                                        <span>{{item}}</span>
                                    </a>
                                </div>
                                <label 
                                    class="more fr"
                                    @click="showMoreSearchType"
                                    >更多
                                    <i :class="[showMoreSearchTag?'el-icon-arrow-down':'el-icon-arrow-up']"></i>
                                </label>
                            </div>
                        </div>
                        <div class="sort-section">
                            <button class="sort-all">全部排序</button>
                            <div class="sort-type">
                                <div class="ascending">
                                    按价格
                                    <span>
                                        <i class="caret-top el-icon-caret-top"></i>
                                        <i class="caret-bot el-icon-caret-bottom"></i>
                                    </span>
                                </div>
                                <div class="descending">
                                    按销量
                                    <span>
                                        <i class="caret-top el-icon-caret-top"></i>
                                        <i class="caret-bot el-icon-caret-bottom"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="model_ul_box">
                    <ul>
                        <li v-for="item in 12" @click="toGoodsShow">
                            <div class="model_mall_img"></div>
                            <div class="model_mall_info_box">
                                <div class="name_box">
                                    <div class="top">
                                        <div>
                                            <span class="hot"></span>
                                            <span class="goods_name">B2C电商</span>
                                        </div>
                                        <a href="javascript:void(0);" class="star-off star-on"></a>
                                    </div>
                                    <div class="bottom">
                                        <span class="desc_span">APP|小程序|公众号|H5</span>
                                        <span class="ljgm">
                                            <a href="javascript:;">&gt;&gt;立即购买</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="time_box">
                                    <p>
                                        <i></i>
                                        <span>10天</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="holder"></li>
                        <li class="holder"></li>
                        <li class="holder"></li>
                    </ul>
                </div>
                <div class="pagger" id="list">
                    <el-pagination background layout="prev, pager, next" :total="1000">
                    </el-pagination>
                </div>
            </div>
        </div>

        <!-- footer引用公共样式common.css -->
        <div class="footer">
            <!-- 我要代理 -->
            <!-- <div class="be_the_agent">
                <div class="title_box">
                    <p>我要代理</p>
                </div>
                <div class="agent_type">
                    <div class="agent_type_inner">
                        <div class="gold_city">
                            <div class="gold_city_title">
                                <div>
                                    <i class="member"></i>
                                    <span class="title_name">金牌城市代理</span>
                                    <i class="gold"></i>
                                </div>
                                <div class="ljsq">
                                    <a href="javascript:;">&gt;&gt;立即申请</a>
                                </div>
                            </div>
                            <div class="gold_city_cont">
                                <div class="profess_consult">
                                    <i></i>
                                    <p>提供专业的1对1技术咨询，无需代理商具备专业技能，也能帮助您在市场获得领先优势。</p>
                                </div>
                                <div class="powerful_system">
                                    <i></i>
                                    <p>强大的平台系统，所有项目进度均实现可视化流程，保障代理及用户切身利益。</p>
                                </div>
                            </div>
                        </div>
                        <div class="diamond_city">
                            <div class="diamond_city_title">
                                <div>
                                    <i class="member"></i>
                                    <span class="title_name">钻石城市代理</span>
                                    <i class="diamond"></i>
                                </div>
                                <div class="ljsq">
                                    <a href="javascript:;">&gt;&gt;立即申请</a>
                                </div>
                            </div>
                            <div class="diamond_city_cont">
                                <div class="profess_consult">
                                    <i></i>
                                    <p>提供专业的1对1技术咨询，无需代理商具备专业技能，也能帮助您在市场获得领先优势。</p>
                                </div>
                                <div class="powerful_system">
                                    <i></i>
                                    <p>强大的平台系统，所有项目进度均实现可视化流程，保障代理及用户切身利益。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- 经典用户 -->
            <div class="classic_user">
                <div class="title_box">
                    <p>经典用户</p>
                </div>
                <div class="classic_user_inner">
                    <div class="swiper-container2 swiper-no-swiping">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user1.png" alt="轮播图"></div>
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user2.png" alt="轮播图"></div>
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user3.png" alt="轮播图"></div>
                            <div class="swiper-slide"><img src="__STATIC__/index/img/user4.png" alt="轮播图"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer_info">
                <div style="background-color: #515151;">
                    <div class="footer_ul footer_info_inner">
                        <ul>
                            <li>
                                <h2>定制开发</h2>
                                <p><a href="javascript:;">IOSAPP开发</a></p>
                                <p><a href="javascript:;">安卓APP开发</a></p>
                                <p><a href="javascript:;">HTML5开发</a></p>
                                <p><a href="javascript:;">小程序开发</a></p>
                                <p><a href="javascript:;">区块链开发</a></p>
                            </li>
                            <li>
                                <h2>云平台</h2>
                                <p><a href="javascript:;">小程序SaaS平台</a></p>
                                <p><a href="javascript:;">支付平台</a></p>
                                <p><a href="javascript:;">短信平台</a></p>
                            </li>
                            <li>
                                <h2>模板商城</h2>
                                <p><a href="javascript:;">智能硬件</a></p>
                                <p><a href="javascript:;">电子商务</a></p>
                                <p><a href="javascript:;">生活娱乐</a></p>
                                <p><a href="javascript:;">金融</a></p>
                                <p><a href="javascript:;">媒体</a></p>
                                <p><a href="javascript:;">企业服务</a></p>
                                <p><a href="javascript:;">政府公益</a></p>
                            </li>
                            <li>
                                <h2>投融介</h2>
                                <p><a href="javascript:;">项目融资申请</a></p>
                                <p><a href="javascript:;">融资评审会</a></p>
                            </li>
                            <li>
                                <h2>代理加盟</h2>
                                <p><a href="javascript:;">申请代理</a></p>
                            </li>
                            <li>
                                <h2>联系我们</h2>
                                <p>座机:<br />0755-36609873</p>
                                <p>专家顾问直线:<br />19925374651</p>
                                <p>邮箱:<br />zhq@siring.com.cn</p>
                                <p>地址:<br />深圳市福田区新闻路1号<br />中电信息大厦东座1518</p>
                            </li>
                            <li>
                                <h2>快速登录</h2>
                                <div class="handle_box">
                                    <div class="handle_logo">
                                        <a href="javascript:;" class="curr"><i class="iconfont weixin">&#xe650;</i></a>
                                        <a href="javascript:;"><i class="iconfont sina">&#xe716;</i></a>
                                    </div>
                                </div>
                                <div class="code_box">
                                    <div class="wx_code">
                                        <span class="wx_span"><img src="__STATIC__/index/img/weixin.png" alt="微信二维码"></span>
                                        <p>微信公众号</p>
                                    </div>
                                    <div class="wb_code" style="display:none">
                                        <span class="wb_span"><img src="__STATIC__/index/img/weixin.png" alt="微信二维码"></span>
                                        <p>新浪微博</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="yqlj footer_info_inner">
                    <h2>友情链接:</h2>
                    <ul>
                        <li><a href="https://mp.weixin.qq.com">微信公众平台</a></li>
                        <li><a href="https://open.weixin.qq.com">微信开放平台</a></li>
                        <li><a href="https://pay.weixin.qq.com">微信支付平台</a></li>
                        <li><a href="https://weixin.qq.com">微信</a></li>
                        <li><a href="http://www.kuaidi100.com">快递100</a></li>
                        <li><a href="https://www.aliyun.com">阿里云</a></li>
                        <li><a href="https://cloud.tencent.com">腾讯云</a></li>
                        <li><a href="https://weibo.com">新浪微博</a></li>
                        <li><a href="https://www.west.cn">西部数据</a></li>
                        <li><a href="https://www.rongcloud.cn">极光推送</a></li>
                        <li><a href="https://www.alipay.com/">企业支付宝</a></li>
                    </ul>
                </div>
                <div class="bottom">
                    <p class="copyright">版权所有 © 1996-2018 深圳市思锐信息技术有限公司 All Rights Reserved. 粤ICP备17014906号</p>
                    <div class="bottom-right">
                        <div>
                            <span class="bottom-gt">&gt;</span>
                            <span class="bottom-year">20</span>
                        </div>
                        <div>
                            <p class="bottom-showy">IOE应用开发与服务领航者</p>
                            <span>年经验 > 100人团队 > 服务数万客户</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- aside -->
    <div class="aside-container">
        <ul>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u261 (1).png" width="32" height="32">
                <span class="aside-text">热线</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon8.png" width="32" height="32">热线电话：
                    </div>
                    <p class="contact-number">0755-36609873</p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u390.png" width="32" height="32">
                <span class="aside-text">顾问</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon10.png" width="32" height="32">专家顾问：
                        <p class="aside-text">扫一扫</p>
                    </div>
                    <p class="contact-number interactive-bg">
                        19925374651
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/u388.png" width="150" height="150">
                        </span>
                    </p>
                    <p class="contact-number interactive-bg">
                        13922830809
                        <span class="wx-qrcode">
                            <img src="__STATIC__/index/img/u388.png" width="150" height="150">
                        </span>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u394.png" width="32" height="32">
                <span class="aside-text">客服</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/icon9.png" width="32" height="32">QQ客服：
                    </div>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank"
                            href="http://wpa.qq.com/msgrd?v=3&amp;uin=50087335&amp;site=qq&amp;menu=yes">50087335</a>
                    </p>
                    <p class="contact-number interactive-bg">
                        <a id="qq" target="_blank"
                            href="http://wpa.qq.com/msgrd?v=3&amp;uin=415364124&amp;site=qq&amp;menu=yes">415364124</a>
                    </p>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u263 (1).png" width="32" height="32">
                <span class="aside-text">留言</span>
                <div class="float-container">
                    <div class="float-title">
                        <img src="__STATIC__/index/img/u378.png" width="32" height="32">留言反馈：
                    </div>
                    <textarea placeholder="您还可以留下您的联系方式，让我们联系您！"></textarea>
                    <button class="send-lm">发送</button>
                </div>
            </li>
            <li class="aside-item">
                <img src="__STATIC__/index/img/u370.png" width="32" height="32">
            </li>
        </ul>
    </div>

    <script src="__STATIC__/index/thirdpart/js/vue.js"></script>>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="__STATIC__/index/thirdpart/js/jquery.js"></script>
    <script src="__STATIC__/admin/common/layui/layui.js"></script>
    <script src="__STATIC__/index/thirdpart/js/swiper-4.3.5.min.js"></script>
    <!-- 页面头部尾部公共脚本 -->
    <script src="__STATIC__/index/js/common.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                searchNameArr: ['全部', '区块链电商', '数字资产', '人力资源管理', '智慧社区', 'B2B电商', '跨境电商', '智慧物流', '券商数据分析', '银行大数据', '数字资产'],
                searchCurr: 0,
                showMoreSearchTag: true,
            },
            methods: {
                // 点击商品跳转 商品展示
                toGoodsShow: function(){
                    location.href = 'template_goods_show';
                },
                // 筛选定制类型
                filterSearchType: function(index){
                    this.searchCurr = index;
                },
                showMoreSearchType: function(){
                    this.showMoreSearchTag = !this.showMoreSearchTag;
                }
            }
        })
        
        
    </script>
</body>

</html>