.model_mall{
    width: 100%;
    margin-top: 100px;
}
.model_mall .model_mall_inner{
    background-color: #f6f6f6;
    padding-bottom: 20px;
}
.model_mall .model_mall_inner .model_ul_box{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}
.model_mall_inner .model_ul_box ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.model_ul_box ul li{
    width: 260px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-bottom: 40px;
}
.model_ul_box ul li.holder{
    width: 260px;
    height: 0;
    margin-bottom: 0;
}
.model_mall .model_mall_img{
    width: 100%;
    height: 164px;
    background: url(../img/model_mall.png) no-repeat center center;
    background-size: 100% 100%;
    transition: background-size .8s;
    -webkit-transition: background-size .8s;
}
.model_mall .model_mall_img:hover{
    background-size: 120% 120%;
}
.model_mall .model_mall_info_box .name_box{
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.model_mall_info_box .name_box .top, .model_mall_info_box .name_box .bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.model_mall_info_box .top .goods_name{
    font-size: 18px;
}

.model_mall_info_box .bottom .desc_span{
    font-size: 14px;
    color: #6b6b6b;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.model_mall_info_box .bottom .ljgm a{
    text-decoration: none;
    font-size: 14px;
    color: #ff0000;
}
.model_mall .model_mall_info_box .time_box{
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}
.model_mall_info_box .time_box p{
    width: 100%;
    text-align: right;
}
.model_mall_info_box .time_box p i{
    display: inline-block;
    background: url(../img/icon1.png) no-repeat center center;
    width: 32px;
    height: 31px;
    vertical-align: middle;
}

/* 模板搜索 */
.el-pagination.is-background .el-pager li{
    background-color: #eee;
    color: #999;
}
.pagger{
    display: flex; 
    justify-content: center;
    min-width: 1200px;
}
.model_mall_info_box .top .star-off{
    width: 24px;
    height: 24px;
    background: url(../img/u412.png) no-repeat;
    background-size: 100%; 
}
.model_mall_info_box .top .star-on{
    background: url(../img/u413.png) no-repeat;
    background-size: 100%; 
}
.search-section{
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}
.search-section-inner{
    background-color: #fff;
    padding: 15px 10px;
}
.search-section-inner .search-type{
    position: relative;
    display: table;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}
.search-section-inner .search-type .search-title{
    padding: 4px 14px;
}
.search-type .search-items{
    width: 90%;
    height: 35px;
    overflow: hidden;
}
.search-type .search-items.autoHeight{
    height: auto;
}
.search-type .search-items a{
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-right: 5px;
    margin-bottom: 10px;
}
.search-type .search-items a.curr span{
    position: relative;
    border: 1px solid #e62d31;
    color: #e62d31;
}
.search-type .search-items a.curr span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/arrow-top.png) no-repeat;
    width: 14px;
    height: 14px;
}
.search-type .search-items a:hover span{
    border: 1px solid #e62d31;
    color: #e62d31;
}
.search-type .search-items a span{
    display: inline-block;
    padding: 4px 14px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 3px;
}
.search-type .search-cont{
    width: 1030px;
}
.search-type .search-cont .more{
    padding: 4px 14px;
    border: 1px solid #fff;
    cursor: pointer;
}
.search-type .search-cont .more:hover{
    color: #e62d31;
}
.search-type .search-cont .more:hover i{
    color: #e62d31;
}
.search-section-inner .sort-section{
    display: flex;
    align-items: center;
    margin-left: 132px;
}
.search-section-inner .sort-section button.sort-all{
    padding: 4px 14px;
    border: 0;
    background-color: #f2f2f2;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}
.sort-section .sort-type{
    display: flex;
}
.sort-section .sort-type div{
    font-size: 14px;
    height: 30px;
    padding: 4px 14px;
    background-color: #f2f2f2;
    margin-left: 10px;
    box-sizing: border-box;
    line-height: 22px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
.sort-section .sort-type span{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 100%;
    vertical-align: bottom;
}
.sort-section .sort-type div .caret-top{
    position: absolute;
    right: 0;
    top: 0;
}
.sort-section .sort-type div .caret-bot{
    position: absolute;
    right: 0;
    bottom: 0;
}
.sort-section .sort-type i{
    color: #9f0010;
}
.sort-section .sort-type .ascending i.caret-top{
    color: #fbb;
}
.sort-section .sort-type .descending i.caret-bot{
    color: #fbb;
}

.model_mall .search-section-inner .sort-section .sort-on{
    background-color: #f00;
    color: #fff;
}
.search-box{
    position: relative;
    margin-left: 30px;
}
.search-box .el-icon-search{
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
}
.search-box .search-input{
    height: 30px;
    width: 300px;
    border: 1px solid #f00;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
    padding-left: 30px;
    outline: none;
    color: #333;
    font-size: 14px;
}
.search-box .search-btn{
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #f00;
    color: #fff;
    padding: 4px 20px;
    box-sizing: border-box;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -5px;
    vertical-align: bottom;
}
.collectOrder a{
    display: inline-block;
    color: #333;
    font-size: 12px;
    text-align: center;
    margin-left: 30px;
}
.collectOrder a i{
    display: block;
    font-size: 30px;
}
.collectOrder a .el-badge{
    display: block;
}
.collectOrder a .el-badge .el-badge__content.is-fixed.is-dot{
    right: 17px;
}